{% extends 'base.html' %} {% block title %} Edit User {% endblock %} {% block
content %}
<h1>Edit User</h1>
<div class="my-3">
	<form action="/users/new" method="POST">
		<div class="form-group">
			<label for="first-name">First Name</label>
			<input
				type="text"
				class="form-control"
				name="first-name"
				id="first-name"
				required="true"
				value="{{user.first_name}}"
			/>
		</div>
		<div class="form-group">
			<label for="last-name">Last Name</label>
			<input
				type="text"
				class="form-control"
				name="last-name"
				id="last-name"
				required="true"
				value="{{user.last_name}}"
			/>
		</div>
		<div class="form-group">
			<label for="image-url">Profile Image URL</label>
			<input
				type="url"
				class="form-control"
				name="image-url"
				id="image-url"
				value="{{user.image_url}}"
			/>
		</div>
		<a href="/users/{{user.id}}" class="btn btn-outline-info mt-3"
			>Cancel</a
		>
		<button type="submit" class="btn btn-primary mt-3">Save</button>
	</form>
</div>
{% endblock %}
