{% extends 'base.html' %} {% block title %} All Users {% endblock %} {% block
content %}
<h1 class="display-1">All Users</h1>
<hr />
<div>
	{% if users %}
	<ul>
		{% for user in users %}
		<li>
			<a href="/users/{{user.id}}"
				>{{user.first_name}} {{user.last_name}}</a
			>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<h2>No users yet!</h2>
	{% endif %}
</div>

<div>
	<form action="POST">
		<div class="form-group">
			<label for="first-name">First Name</label>
			<input
				type="text"
				class="form-control"
				name="first-name"
				id="first-name"
			/>
		</div>
		<div class="form-group">
			<label for="last-name">Last Name</label>
			<input
				type="text"
				class="form-control"
				name="last-name"
				id="last-name"
			/>
		</div>
		<div class="form-group">
			<label for="image-url">Profile Image URL</label>
			<input
				type="url"
				class="form-control"
				name="image-url"
				id="image-url"
			/>
		</div>
		<button type="submit" class="btn btn-primary">Create User</button>
	</form>
</div>
{% endblock %}
