{% extends 'base.html' %} {% block title %} {{user.full_name}} {% endblock %} {%
block content %}
<div class="row">
	<div class="col-12 col-sm-4">
		<img
			src="{{user.image_url}}"
			alt="User Profile Photo"
			class="img-fluid img-thumbnail"
		/>
	</div>
	<div class="col-12 col-sm-8">
		<h1>{{user.full_name}}</h1>
		<a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
		<form action="/users/{{user.id}}/delete" method="post" class="d-inline">
			<button class="btn btn-danger" type="submit">Delete</button>
		</form>
		<div class="my-3">
			{% if user.posts %}
			<h2>Posts</h2>
			<ul>
				{% for post in user.posts %}
				<li><a href="">{{post.title}}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
			<a href="/users/{{user.id}}/posts/new" class="btn btn-info"
				>Add Post</a
			>
		</div>
	</div>
</div>

{% endblock %}
